<a href="https://colab.research.google.com/github/varadmahatme/Advanced-machine-learning-deep-learning/blob/main/AMLDL1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+4

In [ ]:
5**7

In [ ]:
5^7

In [ ]:
25**(1/2)

In [ ]:
1e2

In [ ]:
2.7*2

In [ ]:
a=26
print(a)

In [ ]:
var1=40

In [ ]:
var2=var1+100

In [ ]:
print(var2)

In [ ]:
side=1726
area=side*side
print('Area of a square=')
print(area)

In [ ]:
side=5
area=side**2
print("Area=", area)

In [ ]:
# A code to find the area of a square
 
side=input('Enter a value of side:')
print(type(side))
side=int(side)
print(type(side))
area=side*side
print('Area is:',area)

In [ ]:
# A code to find the area of a square
side=input('Enter a value of side:')
print(type(side))
side=int(side)
print(type(side))
area=side*side
print('Area is:',area)

In [ ]:
'i'm an engineer'

In [ ]:
var1=3

In [ ]:
var2=var1+100 +2

In [ ]:
print(str)

In [ ]:
R_no=100
emp_name='Rahul'

In [ ]:
print('My Roll No. is {​​​​​​one}​​​​​​, and my name is {​​​​​​two}​​​​​​'.format(one=R_no,two=emp_name))

In [ ]:
print('My Roll No. is: {​​​​​​}​​​​​​, and my name is: {​​​​​​}​​​​​​'.format(R_no,emp_name))

In [ ]:
emp_name='s'+emp_name[1:5]

In [ ]:
print(emp_name)

In [ ]:
emp_name*5

In [ ]:
emp_name.upper()

In [ ]:
s='Good Morning Everone'

In [ ]:
s1,s2,s3=s.split()
print(s1)
print(s2)
print(s3)

In [ ]:
print(s.split('E'))

In [ ]:
print("hello everyone \n Good day \t nice time")

In [ ]:
emp_name[::3]

In [ ]:
emp_name[3::]

In [ ]:
emp_name[::-1]

In [ ]:
emp_name[::-2]

In [ ]:
emp_name[::-3]

In [ ]:
list='1,2,3,bro,varad'

In [ ]:
list

In [ ]:
print(list1=[1,3,5,bro,varad,mahatme,8.3])

In [ ]:
list1=[1,3,5,'bro','varad','mahatme',8.3]

In [ ]:
print(list1)

In [ ]:
list_new=[200,500,6.9,list1]

In [ ]:
print(list_new)

In [ ]:
list_new[0:2]

In [ ]:
list_new.pop(1)

In [ ]:
print(list_new)

In [ ]:
# to reverse a list use 'reverse' command
list1 = ['programming', 91, [2, 17, 22], 'practice']
list1.reverse()
print ("list now : ", list1)

In [ ]:
len(list1)

In [ ]:
list1

In [ ]:
list1=[10,5,'ab',2e-4]

In [ ]:
list1[1]

dictionary

In [ ]:
dictionary1={10:11,11:12,12:13,13:14}

In [ ]:
print(dictionary1)

In [ ]:
dictionary1[12]

In [ ]:
dict={5:25,6:50,7:'brother'}

In [ ]:
dict[7]

In [ ]:
d_1={'k1':True, 'k2':False}

In [ ]:
d_1['k1']

In [ ]:
print(d_1['k1'])

In [ ]:
dict_two={'key1':10,'key2':4.9,'key3':[3,8],'key4':dict}

In [ ]:
dict_two['key4']

In [ ]:
dict_two['key3']

In [ ]:
dict_two={'key1':10,'key2':4.9,'key3':list(range(3,8,2)),'key4':dict}

In [ ]:
dict_two['key4']

In [ ]:
dict_two['key3']

In [ ]:
dict_3={}

In [ ]:
dict_3['key1']=10

In [ ]:
dict_3

In [ ]:
print(dict_two.keys())

In [ ]:
print(dict_two.values())

In [ ]:
list3=list(dict_two.keys())

In [ ]:
print(list3)

In [ ]:
print(dict_two.items())

In [ ]:
11==10

In [ ]:
3>5

In [ ]:
5>1

In [ ]:
tup_1=(20,5)

In [ ]:
print(tup_1)

In [ ]:
tup_1[1]=100

In [ ]:
tup_1.append(3)

In [ ]:
tup2=(10, 20, 'note', 6.2,100, 20,'book',[2,3,5])

In [ ]:
print(tup2[6])

In [ ]:
tup2.index(6.2)

In [ ]:
tup2.index(20)

In [ ]:
tup2.count(20)

In [ ]:
set1=(100)
print(set1)
set1.add(20)
set1.add(40)
print(set1)
set1.add(70)
print(set1)

In [ ]:
set1=(100)
print(set1)
set1.add(20)
set1.add(40)
print(set1)
set1.add(70)
print(set1)

In [ ]:
a='abc'
print(a)

In [ ]:
print(type(a))

In [ ]:
num1=None

In [ ]:
print(type(num1))

In [ ]:
10.5 and (1>2)

In [ ]:
a=20
if(a>10):
  print(a)
  print(a+5)

In [ ]:
a=100
if (a==100):
  print("Greetings")

In [ ]:
x=30
if(x==30):
  print('Number is 30')
else:
  print('Number is not 30')
print('ok')

In [ ]:
z=int(input('enter value:' ))
if(z>0):
  print('positive number')
if(z<0):
  print('negetive number')
if(z==0):
  print('zero')

In [ ]:
x=20<10
if x:
  print('this is executed')
else:
  print('this is executed bro')

In [ ]:
list = []

# number of elements as input
n = int(input("Enter number of elements : "))

# iterating till the range
for i in range(0, n):
  ele = int(input())

  list.append(ele) # adding the element
  
print(list)

target = int(input("enter the target number")) 
for i in range(len(list)):
    num = target-list[i]
    for j in range(i+1, len(list)):
        if list[j] == num:
            print (list[i], list[j])

In [ ]:
#while lool

i=1

while(i<=10):
    print(i)
    i=i+1

In [ ]:
#range function

list(range(1,16,1))

In [ ]:
list(range(1,16,3))

In [ ]:


list(range(15,0,-1))

In [ ]:
#range function

list(range(10,1,-1))

in python everything is an object

In [ ]:
list1=list(range(100,69,-4))

In [ ]:
print(list1)
for i in list1:
  print(str(i)+" UBER")

In [ ]:
for i in 'VARAD MAHATME':
  print(i)

In [ ]:
a=int(input("enter number to convert to a table"))
for i in range(1,11,1):
  print(a,"x",i,"=",a*i)

In [ ]:
#cube & cube root of nos from 1 to 100
for i in range(1,101,1):
  print("number=",i,"cube is ",i**3,"cube root is ",i**(1/3))

In [ ]:
i2=range(1,10,1)
for i in i2:
  print(i**3)

In [ ]:
#by default dict will print keys in stead of value
dict1={'key1':100,'key2':12,'key3':42}
for i in dict1:
  print(i)

In [ ]:
#by default dict will print keys in stead of value
dict1={'key1':100,'key2':12,'key3':42}
for i in dict1:
  print(dict1[i])

In [ ]:
#print only numbers divisible by 2 in a list
list2=[101,102,55,56,4,8,13,18]
for i in list2:
  if i%2==0:
    print(i)

In [ ]:
#creating a function in python
#functions are defined and called within a main program

def find_area(b,h):
  area_1=b*h
  return area_1

In [ ]:
#calling function
num1= int(input("enter b"))
num2= int(input("enter h"))
var1=find_area(num1,num2)
print(var1)

In [ ]:
# def keyword is used to define a function
import math
def area_of_circle(radius):
    Area_circ= math.pi* radius * radius
    return Area_circ

r1 =input("Enter a radius value:")

r1_num=float(r1)

Val_from_fn = area_of_circle(r1_num)
print("The Area of circle is {}".format(Val_from_fn))

In [ ]:
import math
def perimeter(radius):
  peri=2*math.pi*radius
  return peri

rad=float(input("enter the raius value: "))

val_peri=perimeter(rad)
print(val_peri)

In [ ]:
import math
print(math.pi)

In [ ]:
pip install numpy

In [ ]:
import numpy as np

In [ ]:
list_1=[3,4,5,6]
x=np.array(list_1)
type(x) #Data type of python is different than numpy. List in python, ndarray in numpy.

In [ ]:
# Generation of numpy using built in techniques
np_arr=np.arange(3,6,2)
print(np_arr)

In [ ]:
import numpy as np
np_arr1=np.ones(5,dtype='float32')
print(np_arr1)
type(np_arr1)

In [ ]:
#LINKED LISTS

# A simple Python program to introduce a linked list

# Node class
class Node:

	# Function to initialise the node object
	def __init__(self, data):
		self.data = data # Assign data
		self.next = None # Initialize next as null


# Linked List class contains a Node object
class LinkedList:

	# Function to initialize head
	def __init__(self):
		self.head = None


# Code execution starts here
if __name__=='__main__':

	# Start with the empty list
	llist = LinkedList()

	llist.head = Node(1)
	second = Node(2)
	third = Node(3)

	'''
	Three nodes have been created.
	We have references to these three blocks as head,
	second and third

	llist.head	 second			 third
		|			 |				 |
		|			 |				 |
	+----+------+	 +----+------+	 +----+------+
	| 1 | None |	 | 2 | None |	 | 3 | None |
	+----+------+	 +----+------+	 +----+------+
	'''

	llist.head.next = second; # Link first node with second

	'''
	Now next of first Node refers to second. So they
	both are linked.

	llist.head	 second			 third
		|			 |				 |
		|			 |				 |
	+----+------+	 +----+------+	 +----+------+
	| 1 | o-------->| 2 | null |	 | 3 | null |
	+----+------+	 +----+------+	 +----+------+
	'''

	second.next = third; # Link second node with the third node

	'''
	Now next of second Node refers to third. So all three
	nodes are linked.

	llist.head	 second			 third
		|			 |				 |
		|			 |				 |
	+----+------+	 +----+------+	 +----+------+
	| 1 | o-------->| 2 | o-------->| 3 | null |
	+----+------+	 +----+------+	 +----+------+
	'''

In [ ]:
# A simple Python program for traversal of a linked list

# Node class
class Node:

	# Function to initialise the node object
	def __init__(self, data):
		self.data = data # Assign data
		self.next = None # Initialize next as null


# Linked List class contains a Node object
class LinkedList:

	# Function to initialize head
	def __init__(self):
		self.head = None

	# This function prints contents of linked list
	# starting from head
	def printList(self):
		temp = self.head
		while (temp):
			print (temp.data)
			temp = temp.next


# Code execution starts here
if __name__=='__main__':

	# Start with the empty list
	llist = LinkedList()

	llist.head = Node(1)
	second = Node(2)
	third = Node(3)

	llist.head.next = second; # Link first node with second
	second.next = third; # Link second node with the third node

	llist.printList()

In [ ]:
import numpy as np

In [ ]:
#generation of numpy array from python lists
list_1=[10,2,35,40]

In [ ]:
type(list_1)

In [ ]:
type(list_1[0])

In [ ]:
np.ndarray

In [12]:
list_2=[[1,4],[-8,3]]

In [7]:
np.array(list_2)

array([[ 1,  4],
       [-8,  3]])

In [9]:
type(list_2[0])

list

In [11]:
list_3=[[1,4,2],[-8,3,4],[2,6,9]]

In [14]:
#arange is the command is used for creating arrays using built in techniques
np_arr1=np.arange(3,6,2)

In [15]:
print(np_arr1)

[3 5]

In [17]:
np_arr1=np.arange(1,6,3)
print(np_arr1)

[1 4]

In [21]:
import numpy as np
np_arr2=np.ones(5,dtype='int32') # vector 1-D
print(np_arr2)

[1 1 1 1 1]